.header {
  position: relative;
  display: block;
  width: 100%;
  padding: 0 50px;
}

.header-title {
  position: relative;
  display: block;
  text-align: center;
}

.header-info {
  position: relative;
  display: block;
  width: 100%;
  column-count: 1;
  text-align: justify;

  @media screen and (min-width: 768px) {
    column-count: 2;
  }
}
